In [76]:
import pandas as pd

df = pd.read_csv('nyc_weather.csv', na_values={
    'Temperature':['test'],
    'Humidity':[52]    
});
df['Events'].fillna('No Events',inplace=True)
df.fillna(0.0,inplace=True)
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,0.0,30.03,10,8.0,0,5,No Events,281
1,1/2/2016,36,18,46.0,30.02,10,7.0,0,3,No Events,275
2,1/3/2016,40,21,47.0,29.86,10,8.0,0,1,No Events,277
3,1/4/2016,25,9,44.0,30.05,10,9.0,0,3,No Events,345
4,1/5/2016,20,-3,41.0,30.57,10,5.0,0,0,No Events,333

In [ ]:
df['EST'][df['Events'] == 'Rain']

In [ ]:
#Finding the table dimension
row,col = df.shape
#Finding the range of the row elements 
df[2:5]

In [ ]:
df.columns # Print the column values
df.est #df['EST']

In [3]:
df[['EST','Temperature','Humidity']].head().describe # Printing only certain columns

<bound method NDFrame.describe of         EST  Temperature  Humidity
0  1/1/2016           38        52
1  1/2/2016           36        46
2  1/3/2016           40        47
3  1/4/2016           25        44
4  1/5/2016           20        41>

In [16]:
df.index
df.set_index('EST',inplace=True) # Set a new index
df.loc['1/1/2016'] # Find the data corresponding to the new key as per the tr

Temperature                38
DewPoint                   23
Humidity                   52
Sea Level PressureIn    30.03
VisibilityMiles            10
WindSpeedMPH                8
PrecipitationIn             0
CloudCover                  5
Events                      0
WindDirDegrees            281
Name: 1/1/2016, dtype: object

In [18]:
df.reset_index(inplace=True) # This is to replace the index back to the original
df.head()

,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

In [24]:
df.iloc[2:4] # To slice data

,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345

In [7]:
df.to_excel("weather.xlsx",sheet_name="weeather",startrow=1,startcol=3,index=False);

In [36]:
df_stocks = pd.DataFrame({
    'tickers':['Google','Microsoft','Adobe'],
    'price':[20,30,40],
    'dividends':[0.01,1,100]
})

df_weather = pd.DataFrame({
    'days':['Monday','Tuesday','Wednesday'],
    'temperature':['',30,50],
    'humidity':[35,89,9]
})

df_weather

        days  humidity temperature
0     Monday        35
1    Tuesday        89          30
2  Wednesday         9          50

In [11]:
#Adding multiple dataframes
with pd.ExcelWriter('stock_weather.xlsx') as writer:
    df_stocks.to_excel(writer,sheet_name='stocks')
    df_weather.to_excel(writer,sheet_name='weather')

In [37]:
df_weather.fillna(0.0)
df_weather.fillna(method='ffill',inplace=True)
df_weather.interpolate()
df_weather

        days  humidity temperature
0     Monday        35
1    Tuesday        89          30
2  Wednesday         9          50

In [42]:
import numpy as np
new_df = df_weather.dropna()
new_df.replace('',np.NaN)
new_df.interpolate()

        days  humidity temperature
0     Monday        35
1    Tuesday        89          30
2  Wednesday         9          50

In [45]:
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,0.0,30.03,10,8.0,0,5,No Events,281
1,1/2/2016,36,18,46.0,30.02,10,7.0,0,3,No Events,275
2,1/3/2016,40,21,47.0,29.86,10,8.0,0,1,No Events,277
3,1/4/2016,25,9,44.0,30.05,10,9.0,0,3,No Events,345
4,1/5/2016,20,-3,41.0,30.57,10,5.0,0,0,No Events,333

In [61]:
event = df.groupby('Events')

for Events,Temperature in event:
    print (Events)
    #print (Temperature)

df_rain = event.get_group('Rain') # This creates a group by

df_rain.max()

event.min()

Fog-Snow
No Events
Rain
Snow

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,WindDirDegrees
Events,,,,,,,,,,
Fog-Snow,1/17/2016,26,21,66.0,29.77,1,6.0,0.05,6,42
No Events,1/1/2016,20,-3,0.0,29.58,9,0.0,0,0,79
Rain,1/10/2016,41,22,45.0,29.52,4,0.0,0.24,3,76
Snow,1/18/2016,25,6,41.0,29.83,8,0.0,0.01,2,34

In [62]:
event.describe()

          CloudCover                                               DewPoint  \
               count      mean       std  min  25%  50%   75%  max    count
Events
Fog-Snow         2.0  7.000000  1.414214  6.0  6.5  7.0  7.50  8.0      2.0
No Events       22.0  2.272727  2.229282  0.0  1.0  2.0  3.00  8.0     22.0
Rain             4.0  6.250000  2.217356  3.0  6.0  7.0  7.25  8.0      4.0
Snow             3.0  2.666667  0.577350  2.0  2.5  3.0  3.00  3.0      3.0

                      ...  WindDirDegrees        WindSpeedMPH             \
                mean  ...             75%    max        count       mean
Events                ...
Fog-Snow   22.000000  ...          269.25  345.0          2.0  11.000000
No Events  15.590909  ...          293.00  345.0         22.0   5.954545
Rain       35.750000  ...          318.25  340.0          4.0   5.500000
Snow        7.666667  ...          310.00  327.0          3.0   6.000000


                std  min   25%   50%    75%   max
Events
Fog-Snow   7.071068  6.0  8.50  11.0  13.50  16.0
No Events  2.572330  0.0  5.00   6.0   7.75  11.0
Rain       3.696846  0.0  5.25   7.0   7.25   8.0
Snow       6.000000  0.0  3.00   6.0   9.00  12.0

[4 rows x 64 columns]

In [75]:
#Concatenate Dataframe
df_cncat = pd.concat([df_stocks,df_weather],keys=['stocks','weather'],axis=1)
df_cncat
#df_cncat.to_csv('test.csv')

     stocks                     weather
  dividends price    tickers       days humidity temperature
0      0.01    20     Google     Monday       35
1      1.00    30  Microsoft    Tuesday       89          30
2    100.00    40      Adobe  Wednesday        9          50

In [95]:
df.head()
df.pivot(index='EST',columns='Events',values='Temperature').head(5).fillna('unavailable')

Events        Fog-Snow    No Events         Rain         Snow
EST
1/1/2016   unavailable           38  unavailable  unavailable
1/10/2016  unavailable  unavailable           50  unavailable
1/11/2016  unavailable           33  unavailable  unavailable
1/12/2016  unavailable           35  unavailable  unavailable
1/13/2016  unavailable           26  unavailable  unavailable